<div class="rounded-social-buttons">
  <a class="social-button facebook" href="https://www.facebook.com/profile.php?id=100004530463739"></a>
  <!-- <a class="social-button twitter" href="#"></a> -->
  <a class="social-button linkedin" href="https://www.linkedin.com/in/hao-yu-253101b5/"></a>
  <!-- <a class="social-button youtube" href="#"></a> -->
  <a class="social-button instagram" href="https://www.instagram.com/haoyu_quan/"></a>
 <!--  <a class="social-button pinterest" href="#"></a>
  <a class="social-button google-plus" href="#"></a> -->
  <a class="social-button github" href="https://github.com/370639141"></a>
  <!-- <a class="social-button tumblr" href="#"></a> -->
</div>
